.email-login {
      background-color: #ccc; /* Серый фон для Электронной почты логина */
      padding: 10px; /* Добавление отступа */
    }

    .profile-form p {
      margin: 5px 0; /* Отступы между полями Имя и Фамилия, а также Электронной почтой и Телефоном */
    }

    .buttons {
      margin-top: 10px; /* Отступ между формой и кнопками */
    }